[Unit]
Description=Capture Camera Video
After=default.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/home/pi/camera_capture/capture_video.sh
KillSignal=SIGINT
StandardOutput=append:/var/log/camera.log
StandardError=append:/var/log/camera.log

[Install]
WantedBy=default.target